.btn{
    background-color: var(--teal);
    color: var(--sky);
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    font-weight: 600;
    cursor: pointer;
    transition: all ease 0.3s;
    text-align: center;
    width: 6rem;
    min-width: 100px; 
    text-transform: capitalize;
    border: 2px solid var(--blue);
    box-shadow: 2px 2px 2px  var(--white);
}
.btn:hover{
    box-shadow: 2px 2px 5px 2px var(--white) ;
}

.outlined-btn{
    background-color: var(--black);
    color: var(--white);
    border: 2px solid var(--blue);
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    font-weight: 600;
    cursor: pointer;
    transition: all ease 0.3s;
    box-shadow: 2px 2px 2px var(--white);
    width: 6rem;
    min-width: 100px;
    text-align: center;
}
.outlined-btn:hover{
    background-color:var(--teal);
    box-shadow: 2px 2px 5px 2px var(--white) ;
    color: var(--sky);
}